.login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #43cea2, #185a9d);
}

form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 260px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input {
  padding: 10px;
  font-size: 1rem;
}

button {
  padding: 10px;
  background: #185a9d;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
